# OpenAI
OPENAI_API_KEY=your_openai_api_key_here

# Perplexity
PERPLEXITY_API_KEY=your_perplexity_api_key_here

# LINE
CHANNEL_ACCESS_TOKEN=your_line_channel_access_token_here
CHANNEL_SECRET=your_line_channel_secret_here

# DB
DB_USER=your_db_username
DB_PASSWORD=your_db_password
DB_HOST=your_rds_endpoint
DB_PORT=3306

# MySQL 資料庫連線
DATABASE_URL=your_main_db_url
BENEFIT_DB_URL=your_beneift_db_url